/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background:#ffffff;
  color:#111827;
}

/* CONTENEDOR PRINCIPAL */

main{
  max-width:1000px;
  margin:auto;
  padding:30px;
}

/* HEADER */

header{
  background:#ffffff;
  padding:25px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
  margin-bottom:25px;
}

h1{
  font-size:28px;
}

/* CARDS */

.card{
  background:white;
  padding:20px;
  border-radius:14px;
  margin-bottom:20px;
  box-shadow:0 4px 14px rgba(0,0,0,0.06);
}

/* FORM */

.form-grid{
  display:grid;
  gap:12px;
}

input{
  padding:12px;
  border-radius:8px;
  border:1px solid #ddd;
  font-size:14px;
}

/* BOTONES */

.btn{
  padding:10px 16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#4f46e5;
  color:white;
  font-weight:500;
}

.secondary{
  background:#e5e7eb;
  color:black;
}

.edit-btn{
  background:#22c55e;
}

.delete-btn{
  background:#ef4444;
}

/* TABLA */

.modern-table{
  width:100%;
  border-collapse:collapse;
}

.modern-table th{
  background:#f9fafb;
  padding:14px;
  text-align:left;
}

.modern-table td{
  padding:14px;
  border-bottom:1px solid #eee;
}

.modern-table tr:hover{
  background:#fafafa;
}

.actions{
  display:flex;
  gap:8px;
}

.sync-container{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

.section-title{
  margin-bottom:15px;
}

/* MODAL */

.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-card{
  background:white;
  padding:30px;
  border-radius:14px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
  text-align:center;
}

.modal-buttons{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:10px;
}

/* TARJETAS SYNC */

.sync-container{
  display:flex;
  gap:20px;
}

.sync-card{
  flex:1;
  padding:20px;
  border-radius:14px;
  color:white;
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* TARJETAS SYNC */

.sync-card{
  flex:1;
  padding:20px;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  gap:10px;
  border:1px solid #e5e7eb;
  color:black;
  text-align:center;
}

/* POSTGRES (color suave) */

.postgres-card{
  background:#dae2fc; /* azul claro suave */
}

/* MONGO (color suave) */

.mongo-card{
  background:#e1fef0; /* verde claro suave */
}
